n8n_workflow_updated.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send_biqa_email",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -300,
        0
      ],
      "id": "webhook_node",
      "name": "Webhook - Receive Feedback",
      "webhookId": "174782cc-60da-422c-b77a-9c6ae430921d"
    },
    {
      "parameters": {
        "jsCode": "// Format feedback and prepare email\nconst payload = $input.first();\nconst { from_email, message, request_type, request_type_label, timestamp, user_agent, source } = payload.body;\n\n// Map request types to emoji and priority\nconst typeMap = {\n  'feature_request': { emoji: '✨', priority: 'HIGH', color: '#14b8a6' },\n  'improvement': { emoji: '🎯', priority: 'HIGH', color: '#14b8a6' },\n  'bug_report': { emoji: '🐛', priority: 'URGENT', color: '#ef4444' },\n  'suggestion': { emoji: '💡', priority: 'MEDIUM', color: '#3b82f6' },\n  'question': { emoji: '❓', priority: 'LOW', color: '#8b5cf6' },\n  'general': { emoji: '💬', priority: 'LOW', color: '#6366f1' }\n};\n\nconst typeInfo = typeMap[String(request_type)] || typeMap['general'];\n\n// Format email subject based on type\nconst subjectMap = {\n  'feature_request': '✨ New Feature Request from BIQA App',\n  'improvement': '🎯 Improvement Suggestion from BIQA App',\n  'bug_report': '🐛 BUG REPORT from BIQA App',\n  'suggestion': '💡 User Suggestion from BIQA App',\n  'question': '❓ User Question from BIQA App',\n  'general': '💬 User Feedback from BIQA App'\n};\n\nconst subject = subjectMap[String(request_type)] || 'BIQA Feedback';\n\n// Format HTML email body\nconst htmlBody = `<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background-color: ${typeInfo.color}; color: white; padding: 20px; border-radius: 8px 8px 0 0; }\n    .content { background-color: #f9fafb; padding: 20px; border: 1px solid #e5e7eb; }\n    .footer { background-color: #f3f4f6; padding: 15px; border-radius: 0 0 8px 8px; font-size: 12px; color: #666; }\n    .section { margin: 15px 0; }\n    .label { font-weight: bold; color: ${typeInfo.color}; }\n    .meta { background-color: #fff; padding: 10px; border-left: 4px solid ${typeInfo.color}; margin: 10px 0; border-radius: 4px; }\n    .message-box { background-color: #ffffff; padding: 15px; border: 1px solid #e5e7eb; border-radius: 6px; margin: 15px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h2 style=\"margin: 0;\">${typeInfo.emoji} ${request_type_label}</h2>\n      <p style=\"margin: 5px 0 0 0; opacity: 0.9;\">Priority: ${typeInfo.priority}</p>\n    </div>\n    <div class=\"content\">\n      <div class=\"section\">\n        <p><span class=\"label\">From:</span> ${from_email}</p>\n      </div>\n      <div class=\"meta\">\n        <div><span class=\"label\">Type:</span> ${request_type_label}</div>\n        <div><span class=\"label\">Received:</span> ${new Date(timestamp).toLocaleString()}</div>\n        <div><span class=\"label\">Source:</span> BetterIslam Q&A App</div>\n      </div>\n      <div class=\"section\">\n        <h3 style=\"color: ${typeInfo.color}; margin-top: 0;\">Message:</h3>\n        <div class=\"message-box\">\n          ${message.replace(/\\n/g, '<br>')}\n        </div>\n      </div>\n    </div>\n    <div class=\"footer\">\n      <p style=\"margin: 0;\">\n        <strong>System Info:</strong><br>\n        Request Source: ${source || 'biqa_app'}<br>\n        Received: ${timestamp}<br>\n        Device: ${user_agent ? user_agent.substring(0, 60) + '...' : 'Unknown'}\n      </p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nconst plainBody = `${typeInfo.emoji} ${request_type_label}\nPriority: ${typeInfo.priority}\n\nFrom: ${from_email}\nType: ${request_type_label}\nReceived: ${new Date(timestamp).toLocaleString()}\nSource: BetterIslam Q&A App\n\n---MESSAGE---\n${message}\n\n---SYSTEM INFO---\nSource: ${source || 'biqa_app'}\nTimestamp: ${timestamp}`;\n\nreturn {\n  subject,\n  htmlBody,\n  plainBody,\n  from_email,\n  request_type,\n  request_type_label,\n  priority: typeInfo.priority,\n  timestamp\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "verify_and_format",
      "name": "Format Email",
      "credentials": {}
    },
    {
      "parameters": {
        "subject": "={{ $node[\"Format Email\"].output.json.subject }}",
        "body": "={{ $node[\"Format Email\"].output.json.plainBody }}",
        "htmlBody": "={{ $node[\"Format Email\"].output.json.htmlBody }}",
        "fromEmail": "BIQA@halerp.com",
        "toAddresses": [
          "mohamedazher@gmail.com"
        ],
        "additionalFields": {
          "replyTo": "={{ $node[\"Format Email\"].output.json.from_email }}"
        }
      },
      "type": "n8n-nodes-base.awsSes",
      "typeVersion": 1,
      "position": [
        300,
        0
      ],
      "id": "send_email",
      "name": "Send Formatted Email",
      "credentials": {
        "aws": {
          "id": "56",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "responseCode": 200,
        "responseBody": "={\"success\": true, \"message\": \"Thank you for your feedback! We appreciate your input.\", \"request_type\": $node[\"Format Email\"].output.json.request_type_label, \"timestamp\": $node[\"Format Email\"].output.json.timestamp}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        600,
        0
      ],
      "id": "respond_to_app",
      "name": "Respond to App"
    }
  ],
  "connections": {
    "Webhook - Receive Feedback": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Send Formatted Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "timezone": "UTC"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1dcf3aca8689e419bdcbfc603ab223935028615e97b170b86346b98d03a63baf"
  }
}
