n8n_workflow_updated.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send_biqa_email",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -300,
        0
      ],
      "id": "webhook_node",
      "name": "Webhook - Receive Feedback",
      "webhookId": "174782cc-60da-422c-b77a-9c6ae430921d"
    },
    {
      "parameters": {
        "jsCode": "// Verify app signature (SHA-256 HMAC)\nconst crypto = require('crypto');\nconst SECRET_KEY = 'biqa_app_feedback_secret_key_2024';\n\nconst payload = $input.first();\nconst { from_email, message, app_signature, request_type, request_type_label, timestamp } = payload.body;\n\n// Verify signature\nconst expectedSignature = crypto\n  .createHash('sha256')\n  .update(`${from_email}:${message}:${SECRET_KEY}`)\n  .digest('hex');\n\nconst isValid = app_signature === expectedSignature;\n\nif (!isValid) {\n  throw new Error('Invalid app signature - request rejected');\n}\n\n// Map request types to emoji and priority\nconst typeMap = {\n  'feature_request': { emoji: '✨', priority: 'HIGH', color: '#14b8a6' },\n  'improvement': { emoji: '🎯', priority: 'HIGH', color: '#14b8a6' },\n  'bug_report': { emoji: '🐛', priority: 'URGENT', color: '#ef4444' },\n  'suggestion': { emoji: '💡', priority: 'MEDIUM', color: '#3b82f6' },\n  'question': { emoji: '❓', priority: 'LOW', color: '#8b5cf6' },\n  'general': { emoji: '💬', priority: 'LOW', color: '#6366f1' }\n};\n\nconst typeInfo = typeMap[request_type] || typeMap['general'];\n\n// Format email subject based on type\nconst subjectMap = {\n  'feature_request': '✨ New Feature Request from BIQA App',\n  'improvement': '🎯 Improvement Suggestion from BIQA App',\n  'bug_report': '🐛 BUG REPORT from BIQA App',\n  'suggestion': '💡 User Suggestion from BIQA App',\n  'question': '❓ User Question from BIQA App',\n  'general': '💬 User Feedback from BIQA App'\n};\n\nconst subject = subjectMap[request_type] || 'BIQA Feedback';\n\n// Format HTML email body\nconst htmlBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background-color: ${typeInfo.color}; color: white; padding: 20px; border-radius: 8px 8px 0 0; }\n    .content { background-color: #f9fafb; padding: 20px; border: 1px solid #e5e7eb; }\n    .footer { background-color: #f3f4f6; padding: 15px; border-radius: 0 0 8px 8px; font-size: 12px; color: #666; }\n    .section { margin: 15px 0; }\n    .label { font-weight: bold; color: ${typeInfo.color}; }\n    .meta { background-color: #fff; padding: 10px; border-left: 4px solid ${typeInfo.color}; margin: 10px 0; border-radius: 4px; }\n    .message-box { background-color: #ffffff; padding: 15px; border: 1px solid #e5e7eb; border-radius: 6px; margin: 15px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h2 style=\"margin: 0;\">${typeInfo.emoji} ${request_type_label}</h2>\n      <p style=\"margin: 5px 0 0 0; opacity: 0.9;\">Priority: ${typeInfo.priority}</p>\n    </div>\n    \n    <div class=\"content\">\n      <div class=\"section\">\n        <p><span class=\"label\">From:</span> ${from_email}</p>\n      </div>\n      \n      <div class=\"meta\">\n        <div><span class=\"label\">Type:</span> ${request_type_label}</div>\n        <div><span class=\"label\">Received:</span> ${new Date(timestamp).toLocaleString()}</div>\n        <div><span class=\"label\">Source:</span> BetterIslam Q&A App</div>\n      </div>\n      \n      <div class=\"section\">\n        <h3 style=\"color: ${typeInfo.color}; margin-top: 0;\">Message:</h3>\n        <div class=\"message-box\">\n          ${message.replace(/\\n/g, '<br>')}\n        </div>\n      </div>\n    </div>\n    \n    <div class=\"footer\">\n      <p style=\"margin: 0;\">\n        <strong>System Info:</strong><br>\n        • Request Verified: ✓<br>\n        • App Signature: ${app_signature.substring(0, 16)}...<br>\n        • User Agent: ${payload.body.user_agent || 'N/A'}<br>\n        • Source: ${payload.body.source || 'biqa_app'}\n      </p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nconst plainBody = `\n${typeInfo.emoji} ${request_type_label}\nPriority: ${typeInfo.priority}\n\nFrom: ${from_email}\nType: ${request_type_label}\nReceived: ${new Date(timestamp).toLocaleString()}\nSource: BetterIslam Q&A App\n\n---MESSAGE---\n${message}\n\n---SYSTEM INFO---\nRequest Verified: ✓\nApp Signature: ${app_signature.substring(0, 16)}...\nSource: ${payload.body.source || 'biqa_app'}\n`;\n\nreturn {\n  subject,\n  htmlBody,\n  plainBody,\n  from_email,\n  request_type,\n  request_type_label,\n  priority: typeInfo.priority,\n  timestamp,\n  verified: true\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "verify_and_format",
      "name": "Verify Signature & Format Email",
      "credentials": {}
    },
    {
      "parameters": {
        "subject": "={{ $node[\"Verify Signature & Format Email\"].output.json.subject }}",
        "body": "={{ $node[\"Verify Signature & Format Email\"].output.json.plainBody }}",
        "htmlBody": "={{ $node[\"Verify Signature & Format Email\"].output.json.htmlBody }}",
        "fromEmail": "BIQA@halerp.com",
        "toAddresses": [
          "mohamedazher@gmail.com"
        ],
        "additionalFields": {
          "replyTo": "={{ $node[\"Verify Signature & Format Email\"].output.json.from_email }}"
        }
      },
      "type": "n8n-nodes-base.awsSes",
      "typeVersion": 1,
      "position": [
        300,
        0
      ],
      "id": "send_email",
      "name": "Send Formatted Email",
      "credentials": {
        "aws": {
          "id": "56",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "body": "={\n  \"request_type\": $node[\"Verify Signature & Format Email\"].output.json.request_type,\n  \"request_type_label\": $node[\"Verify Signature & Format Email\"].output.json.request_type_label,\n  \"from_email\": $node[\"Verify Signature & Format Email\"].output.json.from_email,\n  \"message\": $node[\"Webhook - Receive Feedback\"].output.json.body.message,\n  \"timestamp\": $node[\"Verify Signature & Format Email\"].output.json.timestamp,\n  \"priority\": $node[\"Verify Signature & Format Email\"].output.json.priority,\n  \"verified\": true,\n  \"user_agent\": $node[\"Webhook - Receive Feedback\"].output.json.body.user_agent\n}"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        600,
        0
      ],
      "id": "log_feedback",
      "name": "Log Feedback (Optional - for analytics)",
      "webhookId": "feedback_logger"
    },
    {
      "parameters": {
        "responseCode": 200,
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Thank you for your feedback! We appreciate your input.\",\n  \"request_type\": $node[\"Verify Signature & Format Email\"].output.json.request_type_label,\n  \"timestamp\": $node[\"Verify Signature & Format Email\"].output.json.timestamp\n}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        0
      ],
      "id": "respond_to_app",
      "name": "Respond to App"
    }
  ],
  "connections": {
    "Webhook - Receive Feedback": {
      "main": [
        [
          {
            "node": "Verify Signature & Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature & Format Email": {
      "main": [
        [
          {
            "node": "Send Formatted Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Feedback (Optional - for analytics)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "timezone": "UTC"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1dcf3aca8689e419bdcbfc603ab223935028615e97b170b86346b98d03a63baf"
  }
}
